body {
	width: 150px;
	height: 50px;
}

input, button {
	margin-bottom: 10px;
}

button {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 7px 14px;
	text-align: center;
	text-decoration: none;
}

button:hover {
	background-color: #38803B;
}