body {
	font-family: sans-serif;
	width: 150px;
	margin: 0;
	font-size: 15px;
}

.top-bar {
	padding: 2px 0;
	display: block;
	text-align: center;
	background-color: #333;
}

.top-bar p {
	margin: 0;
	font-size: 13px;
	color: #ddd;
}

#open-cr {
	display: block;
	margin: 5px auto;
	text-align: center;
}
